<!DOCTYPE html>
<html>
<head>
	<title>The Neurosurgery Question Bank</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/base.css" rel="stylesheet" media="screen">
</head>
<body>
<p></p>
<div class='container'>
	<div class="row">
		<div class="col-md-6">
			<p>{% block question_block %}{% endblock %}</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			{% block answer_block %}{% endblock %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			{% block explanation_block %}{% endblock %}	
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			{% block reference_block %}{% endblock %}	
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			{% block form_action %}{% endblock %}	
		</div>
	</div>	
</div>

</body>
</html>