<!DOCTYPE HTML>
<!--
	Webdesign by Sciatic126
-->
<html>
	<head>
	<title>Neurosurgery Question Bank</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Neurosurgery Written Board Preperation" />
		<meta name="keywords" content="Neurosurgery, Board, Question Bank" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">	
		<!-- Custom CSS -->



	</head>

	<body class="homepage">

		<div id='header'>
			<div class='container'>
				<!--Logo-->
				<h1>NSQ</h1>

				<!--Nav Bar-->
				<nav id='nav'>

					<ul class="menu">

						<li><a href="/">Home</a></li>
						<li><a href="#">About</a>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">About the Exam</a></li>
						</ul>
						</li>
						<li><a href='#'>Preview</a></li>
						<li><a href="/login/">Log In</a></li>
						<li><a href="/logout/">Log Out</a></li>
						<li><a href="/register/" id="register_btn">Register</a></li>
					</ul>
				</nav>

				<!-- Banner -->
				<div class="jumbotron">
				<div id="banner">
					<div class="container">
						<section>
							<header class="major">
								<h2>Welcome to NSQ!</h2>
								<span class="byline">&hellip; your source for review questions for preperation for the neurosurgery written board examination&hellip;</span>
							</header>
							{% if user.is_authenticated %}
							<h3>Hello {{ user.username }}</h3>
							{% else %}
							<h3></h3>
							{% endif %}
							<a href="/questions/{{first_question}}/" class="button alt" id='submit_id'>Get Started</a>
						</section>
					</div>
					
				</div>
				</div>
				</div>
								</div>

				<!-- Featured -->
				<div class="wrapper style1">
					<section class="container">
					<header class='major'>
						<h2>Studying, Simplified</h2>
						<span class="byline">Reviewing material for the exam has never been easier</span>
					</header>

						<div class="row">
						<section class="col-md-4">
							<a href="#" class="image feature"><img src="/static/imgs/pic02.jpg"></a>
							<p>Rapid Review</p>
						</section>
						<section class="col-md-4">
							<a href="#" class="image feature"><img src="/static/imgs/pic03.jpg"></a>
							<p>Concise Explinations</p>
						</section>
						<section class="col-md-4">
							<a href="#" class="image feature"><img src="/static/imgs/pic04.jpg"></a>
							<p>Well Researched References</p>
						</section>
						</div>
							
					</section>
				</div>
				<div class="copyright">
<h3>Design by: O. Arnaout <i class="fa fa-copyright fa-lg"></i> 2014-2015</h3>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

				</body>