<!DOCTYPE HTML>
<!--
	Webdesign by Sciatic126
-->
{% load browserid %}
{% load staticfiles %}
<html>
	<head>
	<title>Neurosurgery Question Bank</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Neurosurgery Written Board Preperation" />
		<meta name="keywords" content="Neurosurgery, Board, Question Bank" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" href="{% static 'browserid/persona-buttons.css' %}">
		<!-- Dropotron -->
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
			<script>
			$(function() {
				
				// Note: make sure you call dropotron on the top level <ul>
				$('#nav > ul').dropotron({ 
					offsetY: -10 // Nudge up submenus by 10px to account for padding
				});
			
			});
			</script>



	</head>

	<body class="homepage">

		<div id='header'>
			<div class='container'>
				<!--Logo-->
				<h1>NSQ</h1>

				<!--Nav Bar-->
				<nav id='nav'>
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="#">About</a>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">About the Exam</a></li>
						</ul>
						</li>
						<li><a href='#'>Preview</a></li>
						<li><a href="#">Log In</a></li>
					</ul>
				</nav>

				<!-- Banner -->
				<div class="jumbotron">
				<div id="banner">
					<div class="container">
						<section>
							<header class="major">
								<h2>Welcome to NSQ!</h2>
								<span class="byline">&hellip; your source for review questions for preperation for the neurosurgery written board examination&hellip;</span>
							</header>
							<a href="/questions/{{first_question}}/" class="button alt" id='submit_id'>Get Started</a>
						</section>
					</div>
					
				</div>
				</div>
				</div>
								</div>

				<!-- Featured -->
				<div class="wrapper style1">
					<section class="container">
					<header class='major'>
						<h2>Studying, Simplified</h2>
						<span class="byline">Reviewing material for the exam has never been easier</span>
					</header>

						<div class="row">
						<section class="col-md-4">
							<a href="#" class="image feature"><img src="/static/imgs/pic02.jpg"></a>
							<p>Rapid Review</p>
						</section>
						<section class="col-md-4">
							<a href="#" class="image feature"><img src="/static/imgs/pic03.jpg"></a>
							<p>Concise Explinations</p>
						</section>
						<section class="col-md-4">
							<a href="#" class="image feature"><img src="/static/imgs/pic04.jpg"></a>
							<p>Well Researched References</p>
						</section>
						</div>
							
					</section>
    {% browserid_info %}
    {% if user.is_authenticated %}
      <p>Current user: {{ user.email }}</p>
      {% browserid_logout text='Logout' %}
    {% else %}
      {% browserid_login text='Login' color='dark' %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="{% static 'browserid/api.js' %}"></script>
    <script src="{% static 'browserid/browserid.js' %}"></script>
				</div>
				<div class="copyright">
<h3>Design by: O. Arnaout <i class="fa fa-copyright fa-lg"></i> 2014-2015</h3>
				</body>