<!DOCTYPE html>
<html>
<head>
	<title>NSQ Questions</title>
</head>
<body>
<p>{{ question_stem }}</p>
<!-- <form>
	<input type="radio" name ='answers' value='answer_1'>First Answer<br>
	<input type="radio" name ='answers' value='answer_2'>Second Answer<br>
	<input type="radio" name ='answers' value='answer_3'>Third Answer<br>
	<input type="radio" name ='answers' value='answer_4'>Fourth <br>
	<input type="Submit" value="Submit" id='submit'>
</form> -->
<form>
<table id='id_answers_table'>
	{% for answer in answers %}
	<input type="radio" name='answers' value='answer_{{ forloop.counter }}'> {{ answer.text }} <br>
	{% endfor %}
</table>
<input type='Submit' value='Submit' id='submit'>
</form>
</body>
</html>