{% extends 'base.html' %}

{% block question_block %}
{{ question_stem.text }}
{% endblock %}

{% block answer_block %}
{% for answer in correct_answer %}
{{ answer.text }}
{% endfor %}
{% endblock %}
		
{% block explination_block %}<p>{{ explination_text.text }}</p>{% endblock %}

{% block reference_block %}
{% for reference in references %}
{{ reference.text }}
{% endfor %}
{% endblock %}


{% block form_action %}
	<form method="GET" action="/questions/{{ next_question_id }}/">
		{% csrf_token %}
		<input type='Submit' value='Next Question' id='submit_id' autofocus>
	</form>
{% endblock %}
